.work {
    background-image: url(../images/download.jpeg);
    background-size: cover;
    padding-top: 200px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; 
}
 nav li{
    display: inline-block;
    margin-right: 20px;
}
nav{
    text-align: right;
}
